@font-face {
    font-family: 'Carmax Variable';
    src: local('Carmax Variable Regular'), local('CarmaxVariableRegular'),
        url('CarmaxVariableRegular.woff2') format('woff2'),
        url('CarmaxVariableRegular.woff') format('woff'),
        url('CarmaxVariableRegular.ttf') format('truetype'),
        url('CarmaxVariableRegular.svg#CarmaxVariableRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmax Variable';
    src: local('Carmax Variable Bold'), local('CarmaxVariableBold'),
        url('CarmaxVariableBold.woff2') format('woff2'),
        url('CarmaxVariableBold.woff') format('woff'),
        url('CarmaxVariableBold.ttf') format('truetype'),
        url('CarmaxVariableBold.svg#CarmaxVariableBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carmax Variable';
    src: local('Carmax Variable Light'), local('CarmaxVariableLight'),
        url('CarmaxVariableLight.woff2') format('woff2'),
        url('CarmaxVariableLight.woff') format('woff'),
        url('CarmaxVariableLight.ttf') format('truetype'),
        url('CarmaxVariableLight.svg#CarmaxVariableLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

