@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --hero-bg: rgb(196 234 250);
    --brand-green: #01a960;
    --brand-green-foreground: 0 0% 100%;
    --search-panel: 165 35% 75%;
    --result-bg: 200 75% 92%;
    --review-bg: 220 60% 96%;
    --diff-card: 210 100% 97%;
    --dark-section: 0 0% 7%;
    --dark-section-foreground: 0 0% 100%;
    --dark-card: 0 0% 10%;
    --dark-border: 0 0% 18%;
    --price-green: 145 75% 40%;
    --review-avatar: 270 60% 50%;
    --review-name: 220 70% 25%;
    --star: 45 100% 51%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 152 67% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.bg-brand-green {
  background-color: #01a960;
}

/* =========================
   BASE STYLES
========================= */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-lato), sans-serif;
  }
}

/* header footer css start  */
nav.flex-\[0\.6\].flex.justify-center.items-center.gap-8 {
  gap: 0;
}

.global_header nav a {
  text-transform: capitalize;
  font-size: 16px;
  line-height: normal;
  color: #000 !important;
  border-right: 1px solid #0000001a !important;
  padding: 6px 20px !important;
  font-family: Lato, sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0px;
  margin-top: 8px;
  word-wrap: break-word;
}

.flex-\[0\.2\].flex.justify-end.callus_btn_header {
  padding-right: 20px;
}

.global_header nav a:nth-last-child(1) {
  border-right: none !important;
}

.bg-hero-bg .max-w-\[1400px\],
.get_toch .max-w-\[1400px\],
footer .max-w-\[1400px\] {
  max-width: 1600px !important;
}

.bg-hero-bg .max-w-\[1400px\] {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 20px;
  padding-left: 20px;
}

.main_logo img {
  width: 100%;
  object-fit: initial;
  height: auto;
  max-width: 165px;
}

.bg-hero-bg {
  background-color: #c4eafa;
}

.callus_btn_header a {
  color: #00af66;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

.callus_btn_header a img {
  width: 22px;
  height: 22px;
}

.home_p header {
  background: #c4eafa;
}

/* homepage hero section css start  */

.banner_hr .max-w-\[1400px\].mx-auto.px-6.py-16.grid.md\:grid-cols-\[1\.2fr_1fr\].gap-12.items-center {
  padding: 87px 0px 80px;
}

span.bu_ell {
  margin-bottom: 18%;
  margin-left: -2%;
}

.pre_owned {
  margin-top: -15%;
  margin-left: 23%;
  position: absolute;
  bottom: 25%;
}

.banner_text h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 70px;
  font-weight: 600;
  align-items: center;
}

span.banner_sp {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500 !important;
}

img.b_white_car {
  margin: -25px;
}

img.b_orange_car {
  margin: -15px;
}

.derserve_everyone {
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  bottom: -15%;
  left: 12%;
}

.serach_banner {
  display: flex;
  justify-content: end;
  align-items: center;
}

.part_search {
  background-color: #00573326;
  border-radius: 10px;
  padding: 35px 25px 18px;
  overflow: hidden;
  width: 550px;
}

.part_search .flex.items-center.bg-white.rounded-full.overflow-hidden.shadow {
  border-radius: 10px;
}

.part_search button {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-weight: 500;
  display: flex;
  position: absolute;
  right: 0px;
}

.part_search .flex.items-center.bg-white.rounded-full.overflow-hidden.shadow {
  position: relative;
}

.part_search .flex.items-center.bg-white.rounded-full.overflow-hidden.shadow input {
  font-family: Lato, sans-serif !important;
}

.serach_banner a {
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(180deg, #00af66, #00af66a6);
  color: #ffffff;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 12px 30px;
}

.serach_banner a:hover {
  background: linear-gradient(180deg, #00af66a6, #00af66);
  color: #fff;
}

.banner_btn,
.banner_btn a {
  color: #000 !important;
  font-size: 16px;
  padding: 0;
  background: none;
  text-decoration: none;
}

.banner_btn:hover a {
  color: #00af66 !important;
  background: none;
}

.mobile_banner_mb {
  display: none;
}

body #page-container .et_pb_section .et_pb_button_0_tb_header {
  padding-right: 0px !important;
}

.banner_text h1 img {
  max-width: 250px;
}

/* category pill section start  */
.category_pills a {
  color: #00b066;
  background-color: #fff;
  border: 1px solid #00b066;
  border-radius: 12px;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 500;
}

.category_pills a:hover {
  background: linear-gradient(180deg, #00af66a6, #00af66);
  color: #fff;
}

.category_pills {
  padding: 20px 15px;
}

/* impact section css start  */
.impact_section .container_box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

.box_card {
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.box_card h2 {
  color: #333;
}

.impact_right_sec .mt-3.text-\[48px\].lg\:text-\[56px\].font-extrabold.text-gray-900.leading-none.tracking-tight {
  text-align: center;
  color: #333;
  margin-top: 5px;
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.impact_right_sec .mt-4.inline-block.rounded-md.bg-\[\#00AF66\].text-white.px-4.py-1\.5.text-\[15px\].font-bold.shadow-sm {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.impact_right_sec p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.box_card .grid.grid-cols-1.md\:grid-cols-\[1fr_280px\].lg\:grid-cols-\[1fr_300px\].gap-8.lg\:gap-10 {
  grid-template-columns: 1fr 229px;
}

.impact_right_sec .w-full.rounded-xl.bg-\[\#E6F4FF\].px-6.py-8.text-center.shadow-inner.border.border-blue-100 {
  margin-top: 15px;
  background-color: #e6f4ff;
  padding: 20px 10px 30px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.impact_right_sec a.mt-6.w-full.text-center.rounded-lg.bg-gradient-to-b.from-\[\#00AF66\].to-\[\#00AF66\]\/80.text-white.py-4.text-\[18px\].font-bold.hover\:opacity-90.shadow-md.transition-opacity {
  background: linear-gradient(180deg, #00af66, #00af66a6);
  color: #fff;
  width: 100%;
  min-width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #00b066;
  margin-top: 10px;
}

.impact_right_sec p.mt-4.text-center.text-\[14px\].font-medium.text-gray-500 {
  font-size: 14px;
  text-align: center;
  margin-top: 7px;
  color: #333;
}

.impact_section input,
.impact_section select {
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  background-color: transparent;
  color: #000;
}

.impact_section label {
  font-weight: 500;
}

.box_card button span.inline-block.h-5.w-5.transform.rounded-full.bg-background.transition-transform.translate-x-1 {
  background: #1bb776;
}

/* Next ride css start  */
.next_ride_section p {
  font-size: 16px;
}

.next_ride_section .container_box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}

.next_ride_section {
  margin-top: 50px;
}

/* Featured section start  */
.shop_featured_vehicle {
  margin-top: 50px;
}

.shop_featured_vehicle .mx-auto {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}

.shop_featured_vehicle .aspect-\[4\/3\].bg-muted {
  aspect-ratio: 3/3;
}

.shop_featured_vehicle {
  margin-bottom: 50px;
}

/* review section css start  */
.bg-review-bg {
  background-color: #eaeff5 !important;
}

.reviews_section .mx-auto.max-w-\[1400px\] {
  max-width: 1280px;
}

.reviews_google_bar img {
  width: 85px;
  height: 29px;
}

.reviews_google_bar {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  border-width: 1px;
  border-color: #e2e2e2;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 500px;
  background: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews_google_bar a {
  font-weight: 600;
  font-size: 16px;
}

.round_pill_reviews {
  width: 65px;
  height: 65px;
  font-size: 35px;
  font-weight: 500;
  background-color: #512da8;
}

.reviews_section p {
  font-size: 16px;
}

.reviews_section h3 {
  font-size: 20px;
}

.google_review_logo img {
  width: 30px;
  height: 30px;
}

.google_review_logo span {
  font-size: 14px;
  font-weight: 700;
}

.cardora_diff img {
  width: 77px;
  height: 77px;
  border-radius: 20px;
}

.cardora_diff p {
  font-size: 20px;
  color: #000;
  margin-top: 15px;
}

.dream_vehicle_cta p {
  font-size: 18px;
}

.cardora_diff .bg-diff-card {
  font-size: 20px;
  color: #000000;
  background-color: #e6f4ff;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  min-height: 280px;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-left: 25px;
}

.cardora_diff .grid {
  gap: 40px;
}

/* Get in Touch section with footer start  */

.get_toch .bg-dark-card {
  background: none;
  border: 1px solid #2a2b30;
  padding: 10px;
}

.get_toch h2 {
  font-size: 30px;
}

.get_toch {
  background-color: #121319;
}

footer h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

footer li a {
  color: #fff;
}

.grid_col_wr a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.grid_col_wr p {
  font-size: 16px;
  color: #fff;
  font-family: Lato, sans-serif !important;
  margin-top: 5px;
}

.tabs_ft button {
  border: none;
  padding: 5px 30px;
  width: auto;
  background-color: #2a2b30;
  margin-right: 10px;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  display: table;
  z-index: 11;
  line-height: 1.7em;
}

.ft_hours span {
  font-size: 16px;
  color: #fff;
}

.grid_col_wr {
  row-gap: 20px;
  column-gap: 40px;
}

.copyright_sec p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

footer {
  border-top: none;
}

footer .mx-auto.max-w-\[1400px\] {
  padding-top: 0px;
}

.cards_f_wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cards_f_wr .h-12.w-12.rounded-full {
  width: 55px;
  height: 55px;
  background-color: #00af66;
}

footer address,
footer svg {
  color: #fff;
}

.cards_f_wr img {
  width: 27px;
}

/* Mobile header css start  */
.cardora_mobile_logo img {
  max-width: 165px;
  height: auto;
}

img.mobile_iocns_header {
  width: 25px;
}

nav.flex.flex-col.px-6.py-6.pb-24 {
  margin-top: 40px;
}

nav.flex.flex-col.px-6.py-6.pb-24 a {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

nav.flex.flex-col.px-6.py-6.pb-24 a span {
  color: #000;
}

.bg-hero-bg .max-w-\[1400px\] {
  padding-top: 8px;
  padding-bottom: 7px;
}

.dream_vehicle_cta .mx-auto.max-w-\[1400px\].px-6.py-16.text-center {
  padding: 60px 0;
}


/*============ Inventory page css start =========== */

.inventory_page .max-w-\[1400px\] {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 20px 50px;
}

.inventory_page .grid.grid-cols-1.lg\:grid-cols-\[300px_1fr\].gap-8 {
  grid-template-columns: 370px 1fr;
  gap: 30px;
}

header.hidden.lg\:block.w-full.top-0.z-50.global_header.transition-colors.duration-300.bg-white.shadow-\[0_2px_10px_rgba\(0\,0\,0\,0\.05\)\] {
  padding: 0 20px;
  background: #f9f9f9;
}

.global_header .mx-auto.flex.max-w-\[1400px\].items-center.justify-between.py-4 {
  max-width: 1600px;
  padding: 7.4px 0;
}

.inventory_page aside {
  color: #fff;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  margin-left: 10px;
  width: 370px;
}

.inventory_page aside>.mb-6.flex.flex-col.items-center.gap-4 {
  margin-top: 10px;
}

.inventory_page aside>.mb-6.flex.flex-col.items-center.gap-4 span {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.invntory_left_sidebar button span {
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 400;
}

.invntory_left_sidebar .ais-ClearRefinements button.ais-ClearRefinements-button {
  opacity: 1;
}

.vehicle_type .border-b:nth-last-child(1) {
  border-bottom: none;
}

.vehicle_type .border-b svg {
  height: 23px;
  width: 23px;
}

.vehicle_type .border-b:nth-child(1) {
  border-top: 1px solid hsl(var(--border));
}

.vehicle_type button {
  cursor: pointer;
}

.vehicle_type .ais-RefinementList ul,
.vehicle_type .ais-RangeInput {
  padding: 0;
}

.vehicle_type li.ais-RefinementList-item {
  margin-bottom: 8px;
}

.vehicle_type .border-b {
  margin-bottom: 0;
  padding: 10px;
}

.vehicle_type .border-b span.ais-RefinementList-count {
  padding: 2px 8px;
  font-size: 11px;
}

.vehicle_type .border-b form.ais-RangeInput-form input {
  color: #000;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  width: 100%;
  margin: 0 2%;
  padding: 5px 6px;
  font-weight: 400;
  font-size: 16px;
}

.vehicle_type .border-b form.ais-RangeInput-form label.ais-RangeInput-label {
  width: 100%;
}

.seacrh_header_part .relative.w-full.md\:max-w-md {
  max-width: 556px;
}

.seacrh_header_part .relative.w-full.md\:max-w-md input {
  width: 100%;
  border: 1px solid #ddd;
  color: #000;
  border-radius: 12px;
  padding: 10px 10px 10px 43px;
  font-size: 16px;
  box-shadow: none;
}

div#selectedOptionsBar ul li {
  margin-top: 10px;
}

span.ais-CurrentRefinements-categoryLabel {
  font-size: 16px;
}

span.ais-CurrentRefinements-category.flex.items-center.bg-white.rounded-lg.px-4.py-2.shadow-sm.border.border-gray-200.text-\[14px\].text-gray-700 {
  padding: 6px 15px;
  box-shadow: none;
}

.seacrh_header_part select {
  border-radius: 12px;
  font-size: 13px;
  font-weight: 800;
  width: 212px;
}

.results_view_wr {
  margin-right: 30px;
  margin-left: 10px;
}

.sort_by_title {
  text-wrap: nowrap;
}

.results_view_wr_grid ol.ais-Hits-list.grid.grid-cols-1.sm\:grid-cols-2.xl\:grid-cols-3.gap-6 {
  column-gap: 15px;
  row-gap: 20px;
}

.results_view_wr_grid ol article {
  padding: 9px;
}

.results_view_wr_grid ol article img {
  min-height: 240px;
  max-height: 240px;
  object-fit: cover;
  border-radius: 15px;
}

.results_view_wr_grid ol article .aspect-\[4\/3\].bg-muted.relative.overflow-hidden.rounded-t-3xl {
  aspect-ratio: inherit;
  border-radius: 15px;
}

.results_view_wr_grid ol li a:hover article img {
  border-radius: 15px;
  scale: none;
}

.results_view_wr_grid ol li a article {
  border-radius: 20px;
}

.results_view_wr_grid ol li a:hover article {
  transition: inherit;
  translate: none;
  border-radius: 20px;
  box-shadow: none;
}

.results_view_wr_grid ol li a article h3 {
  font-size: 16px;
  width: 100%;
  display: inline-block;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
  min-height: 50px;
  font-weight: 600;
}

.results_view_wr_grid ol li a article .p-5.flex.flex-col.flex-1 {
  padding: 9px 10px 0px;
}

.results_view_wr_grid ol li a article .p-5.flex.flex-col.flex-1 hr.my-4.border-gray-200 {
  margin: 9px 0;
}

.results_view_wr_grid ol li a article p.leading-none {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.results_view_wr_grid ol li a article .text-\[14px\].text-gray-700.mb-4.flex-1 {
  width: auto;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

.results_view_wr_grid ol li a article .bg-\[\#eaf5ff\].w-full.py-3.px-4.rounded-xl.text-center {
  padding: 0;
}

.results_view_wr_grid ol li a article .bg-\[\#eaf5ff\].w-full.py-3.px-4.rounded-xl.text-center span {
  background-color: #e6f4ff;
  color: #005dff;
  padding: 7px 5px;
  text-align: left;
  font-size: 11px;
  border-radius: 12px;
}

.inventory_page .absolute.top-4.right-4.z-10.bg-red-600.text-white.text-\[12px\].font-bold.px-3.py-1.rounded-sm.shadow-md.uppercase.tracking-wider {
  color: #fff;
  z-index: 1;
  text-align: center;
  background-color: #626262;
  width: 150%;
  padding: 7px 0;
  font-size: 20px;
  font-weight: 700;
  top: 38%;
  left: -20%;
  transform: rotate(322deg);
}

/*============ Inventory detail page css start ============= */

.detail_page_section .mx-auto.max-w-\[1400px\].px-6.py-6 {
  max-width: 1600px;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 15px;
}

.detail_page_section nav {
  display: none;
}

.detail_page_section button.btn_thumb {
  border: none;
  width: auto;
  height: auto;
  min-height: max-content;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.btnsd_bt button {
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  display: flex;
  cursor: pointer;
}

.btnsd_bt img {
  border-radius: 20px;
}

.detail_page_section button.btn_thumb img {
  border-radius: 10px;
}

.right_detail_container .bg-\[\#eaf5ff\].rounded-2xl.p-6 h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.right_detail_container .sticky.top-6.space-y-5 {
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0px 0px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #e6e5e2;
}

.right_detail_container .sticky.top-6.space-y-5 .bg-\[\#eaf5ff\].rounded-2xl.p-6 {
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 15px 5px;
}

.right_detail_container .bg-white.border.border-gray-200.rounded-2xl.p-6.shadow-sm {
  border: none;
  box-shadow: none;
  padding: 15px 20px 15px;
}

.right_detail_container .sticky.top-6.space-y-5 .bg-\[\#eaf5ff\].rounded-2xl.p-6 .flex.items-center.gap-6.mt-4 span.font-semibold {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.right_detail_container .sticky.top-6.space-y-5 .bg-\[\#eaf5ff\].rounded-2xl.p-6 .flex.items-center.gap-6.mt-4 svg.w-5.h-5.text-gray-500 {
  color: #000;
}

.right_detail_container .bg-white.border.border-gray-200.rounded-2xl.p-6.shadow-sm p.text-\[32px\].font-extrabold.text-\[\#00A651\].leading-none {
  font-size: 35px;
  color: #038b03;
}

.express_checkout {
  margin-top: 5px;
}

.cehckout_bbtns {
  margin-top: 10px;
}

.right_detail_container .flex.items-center.gap-6.mt-4 {
  justify-content: center;
  margin-top: 2px;
}

.cehckout_bbtns button.w-full.bg-\[\#00A651\].text-white.font-bold.py-3\.5.rounded-xl.hover\:bg-\[\#009347\] {
  background: linear-gradient(#00af66, #00af66a6);
  font-size: 20px;
  font-weight: 700;
  min-height: 55px;
  cursor: pointer;
}

.cehckout_bbtns button.w-full.bg-\[\#00A651\].text-white.font-bold.py-3\.5.rounded-xl.hover\:bg-\[\#009347\]:hover {
  color: #fff;
  background: linear-gradient(180deg, #00af66a6, #00af66);
  border-color: transparent;
}

.cehckout_bbtns button.w-full.bg-white.border-2.border-\[\#00A651\].text-\[\#00A651\] {
  background-color: transparent;
  color: #00af66;
  border-color: #00af66;
  max-width: 100%;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #00af66;
  border-radius: 12px;
  min-height: 55px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cehckout_bbtns button.w-full.bg-white.border-2.border-\[\#00A651\].text-\[\#00A651\]:hover {
  color: #fff;
  background: linear-gradient(180deg, #00af66a6, #00af66);
  border-color: transparent;
}

.detail_page_section .grid.grid-cols-1.lg\:grid-cols-\[2fr_1fr\].gap-10 {
  gap: 25px;
  grid-template-columns: 2fr 1fr !important;
}

.thumb_cont {
  height: 512px;
}

.about_this_vehicle {
  padding: 0;
  border: none;
}

.about_this_vehicle h2 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.about_this_vehicle .grid.grid-cols-2.md\:grid-cols-4.gap-6 p.text-\[13px\].text-muted-foreground.mb-1 {
  align-items: center;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #787582;
  display: flex;
  gap: 5px;
  margin-bottom: 0;
}

.about_this_vehicle .grid.grid-cols-2.md\:grid-cols-4.gap-6 p.text-\[13px\].text-muted-foreground.mb-1 svg {
  color: #000;
}

.about_this_vehicle .grid.grid-cols-2.md\:grid-cols-4.gap-6 p.font-bold.text-\[15px\] {
  margin-left: 25px;
}

.about_this_vehicle .grid.grid-cols-2.md\:grid-cols-4.gap-6 {
  gap: 35px;
}

.about_this_vehicle .grid.grid-cols-2.md\:grid-cols-4.gap-6 {
  gap: 35px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.vehicle_descr {
  padding: 0;
  border: none;
  margin-top: 45px;
}

.vehicle_descr h2 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.bg-hero-bg .max-w-\[1400px\] {
  padding: 8px 0px 7px;
}

header.lg\:hidden.w-full.sticky.top-0.z-50.flex.flex-col.transition-colors.duration-300.bg-transparent.shadow-sm .flex.items-center.justify-between.px-4.py-3.z-50.transition-colors.duration-300.bg-transparent {
  background: #f9f9f9;
}

.results_view_wr .mb-6 {
  margin: 10px;
}

.gallry_p {
  display: flex;
  flex-direction: column;
}

.mb_con {
  display: none;
}

/* ============= @media start ================ */
@media (max-width: 1600px) {
  header.hidden.lg\:block.w-full.top-0.z-50.global_header.transition-colors.duration-300.bg-transparent {
    width: 95%;
    margin: 0 auto;
  }

  .global_header .mx-auto.flex.max-w-\[1400px\].items-center.justify-between.py-4 {
    width: 95%;
    margin: 0 auto;
  }
}

@media(max-width: 1600px) {
  .bg-hero-bg .max-w-\[1400px\] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner_hr .max-w-\[1400px\].mx-auto.px-6.py-16.grid.md\:grid-cols-\[1\.2fr_1fr\].gap-12.items-center {
    padding: 87px 30px 80px;
  }

  .relative.right_detail_container {
    margin-right: 15px;
  }
}

@media(max-width: 1538px) {


  .pre_owned {
    margin-left: 30%;
  }

  .derserve_everyone {
    left: 15%;
  }

  .banner_text h1 {
    font-size: 50px;
  }
}

@media(max-width: 1399px) {

  .banner_text h1 img {
    max-width: 200px;
  }

  .pre_owned {
    bottom: 14%;
  }

  .derserve_everyone {
    bottom: -28%;
    left: 15%;
  }

  .inventory_page .grid.grid-cols-1.lg\:grid-cols-\[300px_1fr\].gap-8 {
    max-width: 95%;
    margin: 0 auto;
    grid-template-columns: 213px 1fr;
  }

  .inventory_page aside {
    width: 213px;
  }

  .results_view_wr {
    margin-left: 10px;
  }

  .detail_page_section .mx-auto.max-w-\[1400px\].px-6.py-6 {
    width: 95%;
    margin: 0 auto;
  }

  .space-y-8.gallry_p .flex.gap-1.h-\[320px\].md\:h-\[623px\] {
    height: auto;
  }

  .gallry_p img.w-full.h-full.object-cover.transition-opacity.duration-500.ease-in-out {
    height: auto;
  }

  .gallry_p .flex-1.relative.rounded-2xl.overflow-hidden.bg-gray-100.shadow-sm.btnsd_bt {
    height: auto;
  }

  .thumb_cont {
    height: 364px;
    width: auto;
  }

  .thumb_cont button {
    width: 116px !important;
    height: 116px !important;
  }
}


@media(max-width: 1304px) {

  .green_car,
  .white_car,
  .red_car {
    width: 100%;
    max-width: 215px;
  }

  .white_car {
    top: 44%;
  }

  .derserve_everyone {
    bottom: -41%;
  }

  .green_car {
    right: 13%;
  }
}

@media(max-width: 1299px) {
  .derserve_everyone {
    font-size: 18px;
  }

  .pre_owned {
    bottom: 1%;
  }

  span.bu_ell {
    margin-bottom: 20%;
  }

  .global_header nav a {
    font-size: 14px;
    padding: 3px 14px !important;
  }

  .callus_btn_header a {
    font-size: 16px;
  }

  .right_detail_container .sticky.top-6.space-y-5 .bg-\[\#eaf5ff\].rounded-2xl.p-6 .flex.items-center.gap-6.mt-4 span.font-semibold {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }
}

@media(max-width: 1024px) {

  img.b_white_car {
    margin: 0;
  }

  .home_p header {
    background: #fff;
  }

  img.b_orange_car {
    margin: 0;
  }


  .mb_con .relative.right_detail_container {
    display: block;
  }
}

@media(max-width: 1140px) {

  .desktop_banner_dk {
    display: none;
  }

  .mobile_banner_mb {
    display: block;
    width: 100%;
  }

  .mobile_banner_mb h1 {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .mobile_banner_mb h1 img {
    width: 100%;
    max-width: 300px;
  }

  span.banner_spa {
    font-size: 24px !important;
  }

  .serach_banner {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .part_search {
    width: 100%;
  }
}

@media(max-width: 991px) {
  .inventory_page aside {
    width: 100%;
    display: none;
  }


  .detail_page_section .mx-auto.max-w-\[1400px\].px-6.py-6 {
    padding-left: 0;
  }

  .detail_page_section .grid.grid-cols-1.lg\:grid-cols-\[2fr_1fr\].gap-10 {
    gap: 25px;
    grid-template-columns: 1fr !important;
  }

  .vehicle_descr {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .inventory_page .grid.grid-cols-1.lg\:grid-cols-\[300px_1fr\].gap-8 {
    grid-template-columns: 1fr;
  }

  .inventory_page .absolute.top-4.right-4.z-10.bg-red-600.text-white.text-\[12px\].font-bold.px-3.py-1.rounded-sm.shadow-md.uppercase.tracking-wider {
    top: 44%;
    left: -27%;
    transform: rotate(333deg);
  }

  .results_view_wr_grid ol li a article .bg-\[\#eaf5ff\].w-full.py-3.px-4.rounded-xl.text-center span {
    padding: 7px 7px;
  }

  .results_view_wr {
    margin-left: 0;
    margin-right: 0;
  }

  span.banner_sp {
    margin-top: 0;
  }

  .max-w-\[1400px\].mx-auto.px-6.py-16.grid.md\:grid-cols-\[1\.2fr_1fr\].gap-12.items-center {
    display: flex;
    flex-direction: column;
  }

  .banner_text,
  .serach_banner {
    max-width: 550px;
  }

  .banner_text h1 img {
    max-width: 150px;
  }

  span.banner_sp {
    font-size: 20px;
  }

  .banner_text h1 {
    font-size: 45px;
  }

  .right_detail_container {
    display: none;
  }

  .mb_con {
    display: block;
  }
}

@media(max-width: 767px) {
  .box_card .grid.grid-cols-1.md\:grid-cols-\[1fr_280px\].lg\:grid-cols-\[1fr_300px\].gap-8.lg\:gap-10 {
    grid-template-columns: 1fr;
  }

  .copyright_sec {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .results_view_wr .flex.items-center.gap-4.self-end.md\:self-auto {
    display: none;
  }

  .about_this_vehicle .grid.grid-cols-2.md\:grid-cols-4.gap-6 {
    grid-template-columns: auto auto;
  }

  .gallry_p .flex.gap-1.h-\[320px\].md\:h-\[623px\] {
    height: auto;
  }

  .reviews_google_bar {
    width: 100%;
    flex-wrap: wrap;
  }

  .mobile_banner_mb h1 {
    font-size: 30px;
  }

  .banner_hr .max-w-\[1400px\].mx-auto.px-6.py-16.grid.md\:grid-cols-\[1\.2fr_1fr\].gap-12.items-center {
    padding: 30px 20px 30px;
  }

  .get_toch h2 {
    font-size: 20px;
  }

  h2 {
    font-size: 26px;
  }

  span.banner_spa {
    font-size: 18px !important;
  }

  .mobile_banner_mb h1 img {
    max-width: 300px;
    height: 100px;
  }
}

@media(max-width: 549px) {
  .banner_text h1 {
    font-size: 35px;
  }

  .banner_text h1 img {
    max-width: 150px;
  }
}

@media(max-width: 481px) {
  span.banner_sp {
    font-size: 15px;
  }

  .banner_text h1 img {
    max-width: 130px;
  }

  .banner_text h1 {
    font-size: 30px;
  }

  footer .mx-auto.max-w-\[1400px\] .grid.grid-cols-2.md\:grid-cols-3.lg\:grid-cols-5.gap-10 {
    grid-template-columns: auto;
  }
}

@media(max-width: 474px) {
  .mobile_banner_mb h1 img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  .right_detail_container .flex.items-center.gap-6.mt-4 {
    flex-wrap: wrap;
    gap: 10px;
  }
}